@media(min-width:1024px){

    /* FONTS */

@font-face {
    font-family: 'agathus'; 
    src: url('../fonts/Calistoga-Regular.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}
/* Isso faz a rolagem ser suave em vez de um pulo seco */
html {
    scroll-behavior: smooth;
}

/* Isso cria uma folga no topo da seção quando ela é focada por um link */
section.history, 
section.diferencial-mae {
    scroll-margin-top: 90px; /* Altura do header (70px) + um respiro (20px) */
}
/* ------------------- */


*{margin: 0; padding: 0;  font-family: Arial, Helvetica, sans-serif;}

body {
    padding-top: 0; /* Mesma altura do seu header */
}

/* ÁREA DO TOPO */
header{
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: #D5B583;
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap:20px;
    /* box-shadow: 2px 2px 4px #555555cb; */
    top: 0;
    left: 0;
    z-index: 1000; /* Garante que fique acima de tudo */
}

.menu-toggle{
    display: none;
}
.nav-principal{
    margin-left: 60px;
}
img#logo{
    width: 50px;
    margin-left: 20px;
}

.ulPrincipal{
    display: flex;
    flex-direction: row;
    gap:20px;
}
.agathus-li{
    list-style-type: none;
}

/* ÁREAS DE LINKS */

.agathus-a{
    color: #8D1908;
    text-decoration: none;
    font-weight: 600;
}

.agathus-a:hover{
    color: #8D1908;
    text-decoration: underline;
}


#link-zap{
    color: #fff;
    text-decoration: none;
}
#link-zap:hover{
    color: #D5B583;
}

/* ------------------------------ */

.agathus-zap{
    width: 260px;
    height: 35px;
    background-color: #8D1908;
    border-radius: 20px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.agathus-zap:hover{
    width: 260px;
    height: 35px;
    background-color: #8D1908;
    border-radius: 20px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* FIM DA ÁREA DO TOPO */

/* ÁREA DE HERO */
section.hero{
    width: 100%;
    height: 600px;
    background: #fafafa;
    box-shadow: 2px 2px 4px #55555586;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 70px 0 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative; /* Fixa o topo */
}

h2#slogam{
    font-family: 'agathus';
    font-size: 60px;
    margin-top: 60px;
    margin-left: 20px;
    color:#8D1908;
}

.section-saiba{
    width: 45%;
    height: 550px;
    background: #00000033;
    background-image: url(../img/aluno1.png);
    background-size: 100%;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 20px;
}

.agathus-slogam{
    width: 45%;
    height: 550px;
    /* background: #d5b6832f; */
    margin-top: 30px;
    margin-right: 20px;
    border-radius: 6px;
    padding: 10px;
}

p.descricao{
    width:60%;
    color:#555;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 20px;
}
p.nivel{
    width: 100%;
    margin: 10px 5%;
    color: #8D1908;
}

.divNivel{
    width: 70%;
    height: 220px;
    position: relative;
    margin: 180px 0 30px 0;
    background-color: #d5b683a9;
    border-radius: 6px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap:10px;
}

.divNivel h2{
    margin-top: 10px;
}

a.saibaMais{
    padding: 15px 25px;
    background-color: #8D1908;
    border-radius: 30px;
    color:#fff;
    margin-top: 20px;
    text-decoration: none;
    transition: .3s;
}

a.saibaMais:hover{
    padding: 15px 25px;
    background-color: #D5B583;
    border-radius: 30px;
    color:#8D1908;
    margin-top: 20px;
    text-decoration: none;
    border: 1px solid #8D1908;
}
/* FIM DA HERO */

/* NOSSA HISTÓRIA */
section.history{
    position: relative;
    width: 100%;
    /* background-color: #ccc; */
    margin: 50px 0 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.ph{
    width: 70%;
    margin: 10px 15%;
    color: #555;
    text-align: justify;
    font-style: italic;
}

/* ------------------------------------------- */

/* ÁREA DIFERENCIAIS */

section.diferencial-mae{
    width: 100%;
    height: 340px;
    background-color: #8D1908;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
.diferencial-mae h2{
    color: #fff;
    margin: 20px 0;
}

div.diferencial-content{
    width: 90%;
    height: 100%;
    /* background-color: #fff; */
    border-radius: 6px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.diferencial-item{
    width: 30%;
    height: 180px;
    /* background-color: #fff; */
    border: 1px solid #d5d5d5;
    border-radius: 6px;
    padding: 10px;
    transition: .5s;
}

.diferencial-item:hover{
    width: 31%;
    height: 190px;
    /* background-color: #fff; */
    border: 1px solid #d5d5d5;
    border-radius: 6px;
    padding: 10px;
}

.diferencial-item h3{
    color: #fff;
    font-size: 16px;
    text-align: justify;
    margin-top: 10px;
}
ul.principios{
    width: 90%;
    margin: 10px 5%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.principios-li{
    color:#D5B583;
}
/* FI DO DIFERENCIAIS */

/* FOOTER */
footer{
    width: 100%;
    height: 150px;
    background-color: #000000;
    border-top: 4px solid #D5B583;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* flex-shrink: 0; */
}
.container-itens{
    width: 100%;
    height: 140px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
}
.itens-footer{
    width: 28.5%;
    height: 100px;
    /* border:1px solid #fff; */
    color: #D5B583;
    margin-top: 30px;
    padding: 10px 0;
}

a#zap{
    display: flex;
    flex-direction: row;
    color:#D5B583;
    text-decoration: none;

}

a#insta{
    display: flex;
    flex-direction: row;
    color: #D5B583;
    text-decoration: none;
}

p#local{
    display: flex;
    flex-direction: row;
    color: #D5B583;
}

#img-zap{
    width:18px;
    margin-right: 10px;
}
#img-insta{
    width: 18px;
    margin-right: 10px;
}

#place{
    width: 22px;
    height: 22px;
    margin-right: 10px;
}

.displayZero{
    display: none;
}

} /*Fim da media*/

